#back-top {
position: fixed; 
display:none; 
font-size: 50px;
color: rgba(0,0,0,0.5);
bottom: 5px; 
right:10px; 
width:auto;}
a#back-top:active {background:none;}
a#back-top {display: block; text-decoration: none;}
.topup {bottom:5px;}
#back-top i {display: block;}